header {
  max-width: 1600px;
  margin: 40px auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  padding: 0 1rem;
  position: relative;
}

.site-name {
  font-size: xx-large;
}

nav {
  margin-left: auto;
  margin-right: 60px;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-size: large;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

#menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#close-icon {
  display: none;
}

@media (max-width: 768px) {
  header {
    margin: 30px auto;
  }
  nav {
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  nav.open {
    display: flex;
  }

  nav a {
    margin: 1rem 0;
    text-align: center;
  }

  #menu-toggle {
    display: block;
    margin-left: auto;
  }

  #menu-icon, #close-icon {
    display: block;
  }
}
