.container {
  width: 100%;
  margin: 0 auto;
  min-height: 80vh;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.cards {
  padding: 0 2rem;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  margin: 2rem auto;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  @media (max-width: 570px) {
    grid-template-columns: 1fr;
  }

}