@use 'app/styles/colours';

.card {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  border: 1px solid #EEE;

  .imgContainer {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: -5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .image {
      position: relative !important;
      object-fit: contain;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: colours.$card-title-colour;
    margin: 0.5rem 1rem;
  }

  .description {
    font-size: 1rem;
    color: colours.$title-colour;
    margin-bottom: 1rem;
  }

  .link {
    margin: 50px 1rem 1rem 1rem;
    text-decoration: none;
    background-color: colours.$primary;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.2rem;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: colours.$primary-hover;
    }
  }


}